<div class="main_div-tag">
    <!-- ======= About Us Section ======= -->
    <section>
        <div>
            <div class="aboutUs_div-tag">
                <hr>
                <h2>About Us</h2>
                <hr>
            </div>

            <div class="aboutUsContent_div-tag">
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore
                        magna aliqua.
                    </p>
                    <br>
                    <ul>
                        <li>
                            Ullamco laboris nisi ut aliquip ex ea commodo
                            consequat
                        </li>
                        <li>
                            Duis aute irure dolor in reprehenderit in voluptate velit
                        </li>
                        <li>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat
                        </li>
                    </ul>
                </div>
                <div>
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident,
                        sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <br>
                    <a class="gettingStarted_a-tag" a routerLink="{{this.linkAddress}}">Learn More</a>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section>
        <div class="counts_div-tag">
            <div class="countsImage_div-tag">
                <img src="assets/img/counts-img.svg" alt="" width="100%" height="100%">
            </div>
            <div class="countsContect_div-tag">
                <div class="countsContectRow_div-tag">
                    <div>
                        <div
                            style="display: flex;justify-content: left; align-items: center ; font-size: xx-large; font-weight: bolder; color: black;">
                            <img src="../../../assets/sentiment_satisfied_FILL0_wght400_GRAD0_opsz24.svg" alt=""
                                width="25%">
                            65
                        </div>
                        <div>
                            <p><strong>Happy Clients</strong> consequuntur voluptas nostrum aliquid ipsam architecto
                                ut.</p>
                        </div>
                    </div>
                    <div>
                        <div
                            style="display: flex;justify-content: left; align-items: center ; font-size: xx-large; font-weight: bolder; color: black;">
                            <img src="../../../assets/library_books_FILL0_wght400_GRAD0_opsz24.svg" alt="" width="25%">
                            85
                        </div>
                        <div>
                            <p><strong>Projects</strong> adipisci atque cum quia aspernatur totam laudantium et quia
                                dere tan</p>
                        </div>
                    </div>
                </div>
                <div class="countsContectRow_div-tag">
                    <div>
                        <div
                            style="display: flex;justify-content: left; align-items: center ; font-size: xx-large; font-weight: bolder; color: black;">
                            <img src="../../../assets/schedule_FILL0_wght400_GRAD0_opsz24.svg" alt="" width="25%">
                            18
                        </div>
                        <div>
                            <p><strong>Happy Clients</strong> consequuntur voluptas nostrum aliquid ipsam architecto
                                ut.</p>
                        </div>
                    </div>
                    <div>
                        <div
                            style="display: flex;justify-content: left; align-items: center ; font-size: xx-large; font-weight: bolder; color: black;">
                            <img src="../../../assets/editor_choice_FILL0_wght400_GRAD0_opsz24.svg" alt="" width="25%">
                            15
                        </div>
                        <div>
                            <p><strong>Projects</strong> adipisci atque cum quia aspernatur totam laudantium et quia
                                dere tan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Counts Section -->
</div>